html, body {
   overflow-y: hidden;
}

body{
  width: 5000px;
}

.play-area{
  position: absolute;
  width: 5000px;
  top: 0;
  height: 60%;
  display: flex;
  background-color: white;
  justify-content: row-reverse;
  align-items: flex-start;
}

.menu-area{
  position: absolute;
  margin-left: -10px;
  width: 5000px;
  bottom: 0;
  height: 40%;
  background-color: lightgray;
  border-right: 10px solid lightgray;

}
.player {
  margin-top: 416px;
  margin-left: 200px;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #6495ED;
  position: fixed;
  top: 50;
  left: 0;
}

.block {
  margin-top: 416px;
  margin-left: 500px;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
}

.triangle {
  margin-top: 416px;
  margin-left: 800px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #FF7F50;
  box-sizing: border-box;
  position: absolute;
  top: 50;
  left: 0;
}

.platform {
  margin-top: 416px;
  margin-left: 500px;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
  margin-top: 416px;
  margin-left: 2600px;
}

#second {
  margin-top: 416px;
  margin-left: 1400px;
}

#third {
  margin-top: 416px;
  margin-left: 2000px;
}

#fourth {
  margin-top: 416px;
  margin-left: 2550px;
}

#fifth {
  margin-top: 366px;
  margin-left: 2600px;
}

#raised {
  margin-top: 416px;
  margin-left: 2600px;
}

#sixth {
  margin-top: 416px;
  margin-left: 2650px;
}

#stack{
  margin-left: 3800px;
  margin-top: 360px;
}

#stack2{
  margin-left: 3800px;
  margin-top: 260px;
}

#stack3{
  margin-left: 3800px;
  margin-top: 310px;
}

#seventh {
  margin-top: 416px;
  margin-left: 4000px;
}



@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}
