html, body {
   overflow-y: hidden;
}

body{
  width: 10000px;
}

.play-area{
  position: absolute;
  width: 10000px;
  top: 0;
  height: 60%;
  display: flex;
  background-color: white;
  justify-content: row-reverse;
  align-items: flex-start;
}

.menu-area{
  position: absolute;
  margin-left: -10px;
  width: 10000px;
  bottom: 0;
  height: 40%;
  background-color: lightgray;
  border-right: 10px solid lightgray;

}
.player {
  margin-top: 416px;
  margin-left: 200px;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #6495ED;
  position: fixed;
  top: 50;
  left: 0;
}

.triangle {
  margin-top: 416px;
  margin-left: 800px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #FF7F50;
  box-sizing: border-box;
  position: absolute;
  top: 50;
  left: 0;
}

.platform {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
  margin-top: 416px;
  margin-left: 2600px;
}

.block {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
}

.rblock {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
}

.fblock {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  position: absolute;
  box-sizing: border-box;
  top: 50;
  left: 0;
}

#test {
  margin-top: 416px;
  margin-left: 400px;
}

#test2 {
  margin-top: 366px;
  margin-left: 300px;
}

#test3 {
  margin-top: 366px;
  margin-left: 450px;
}

#second {
  margin-top: 416px;
  margin-left: 1400px;
}

#third {
  margin-top: 416px;
  margin-left: 2000px;
}

#fourth {
  margin-top: 416px;
  margin-left: 2550px;
}

#fifth {
  margin-top: 366px;
  margin-left: 2600px;
}

#raised {
  margin-top: 416px;
  margin-left: 2600px;
}

#sixth {
  margin-top: 416px;
  margin-left: 2650px;
}

#stack{
  margin-left: 3200px;
  margin-top: 360px;
}

#stack2{
  margin-left: 3200px;
  margin-top: 260px;
}

#stack3{
  margin-left: 3200px;
  margin-top: 310px;
}

#seventh {
  margin-top: 416px;
  margin-left: 3500px;
}

#seventhadd{
  margin-left: 3550px;
  margin-top: 416px;
}

#stack4{
  margin-left: 3900px;
  margin-top: 360px;
}

#stack5{
  margin-left: 3900px;
  margin-top: 260px;
}

#stack6{
  margin-left: 3900px;
  margin-top: 310px;
}

#eighth {
  margin-top: 416px;
  margin-left: 4350px;
}

#ninth {
  margin-top: 416px;
  margin-left: 4300px;
}

#tenth {
  margin-top: 416px;
  margin-left: 4400px;
}

#tenthadd {
  margin-top: 416px;
  margin-left: 4450px;
}


#eleventhadd {
  margin-top: 416px;
  margin-left: 5300px;
}
#eleventhadd1 {
  margin-top: 416px;
  margin-left: 5350px;
}
#eleventhadd2 {
  margin-top: 416px;
  margin-left: 5400px;
}

#floor {
  margin-top: 416px;
  margin-left: 5450px;
}

#floor2 {
  margin-top: 416px;
  margin-left: 5500px;
}

#flooradd {
  margin-top: 416px;
  margin-left: 5550px;
}

#floor2add {
  margin-top: 416px;
  margin-left: 5600px;
}

#stack7 {
  margin-top: 416px;
  margin-left: 5650px;
}

#stack8 {
  margin-top: 416px;
  margin-left: 5700px;
}

#stack9 {
  margin-top: 416px;
  margin-left: 5750px;
}

#eleventh {
  margin-top: 416px;
  margin-left: 5800px;
}

#stack19 {
  margin-top: 416px;
  margin-left: 5850px;
}

#stack20 {
  margin-top: 416px;
  margin-left: 5900px;
}

#stack10 {
  margin-top: 416px;
  margin-left: 5950px;
}

#stack11 {
  margin-top: 416px;
  margin-left: 6000px;
}

#stack12 {
  margin-top: 416px;
  margin-left: 6050px;
}

#twelfth {
  margin-top: 366px;
  margin-left: 6100px;
}

#stack13{
  margin-top: 416px;
  margin-left: 6150px;
}
#stack14 {
  margin-top: 416px;
  margin-left: 6200px;
}

#stack15 {
  margin-top: 416px;
  margin-left: 6250px;
}

#stack16 {
  margin-top: 416px;
  margin-left: 6300px;
}


#stack17 {
  margin-top: 416px;
  margin-left: 6100px;
}

#stack18 {
  margin-top: 416px;
  margin-left: 5800px;
}



#floor3 {
  margin-top: 416px;
  margin-left: 7200px;
}

#floor4 {
  margin-top: 416px;
  margin-left: 7250px;
}

#floor5 {
  margin-top: 416px;
  margin-left: 7300px;
}

#floor6 {
  margin-top: 416px;
  margin-left: 7350px;
}

#stack21{
  margin-top: 416px;
  margin-left: 7400px;
}

#stack22{
  margin-top: 416px;
  margin-left: 7450px;
}

#stack21add{
  margin-top: 416px;
  margin-left: 7500px;
}

#stack22add{
  margin-top: 416px;
  margin-left: 7550px;
}

#stack23add{
  margin-top: 416px;
  margin-left: 7600px;
}


#fourteen{
  margin-top: 366px;
  margin-left: 7500px;
}

#fifteen{
  margin-top: 366px;
  margin-left: 7550px;
}

#fifteenadd{
  margin-top: 366px;
  margin-left: 7600px;
}

#floor7 {
  margin-top: 366px;
  margin-left: 7650px;
}

#floor8 {
  margin-top: 366px;
  margin-left: 7700px;
}

#floor9 {
  margin-top: 366px;
  margin-left: 7750px;
}

#floor10 {
  margin-top: 366px;
  margin-left: 7800px;
}

#stack23{
  margin-top: 366px;
  margin-left: 7850px;
}

#stack24{
  margin-top: 366px;
  margin-left: 7900px;
}

#stack25{
  margin-top: 366px;
  margin-left: 7950px;
}

#stack26{
  margin-top: 366px;
  margin-left: 8000px;
}

#stack27{
  margin-top: 366px;
  margin-left: 8050px;
}

#stack28{
  margin-top: 366px;
  margin-left: 8100px;
}

#stack29{
  margin-top: 366px;
  margin-left: 8150px;
}

#stack30{
  margin-top: 366px;
  margin-left: 8200px;
}

#stack31{
  margin-top: 366px;
  margin-left: 8250px;
}

#stack32{
  margin-top: 366px;
  margin-left: 8300px;
}

#stack33{
  margin-top: 366px;
  margin-left: 8350px;
}

#stack34{
  margin-top: 366px;
  margin-left: 8400px;
}

#sixteen{
  margin-top: 316px;
  margin-left: 8150px;
}

#seventeen{
  margin-top: 316px;
  margin-left: 8200px;
}

#stack35{
  margin-top: 366px;
  margin-left: 8450px;
}

#stack36{
  margin-top: 366px;
  margin-left: 8500px;
}

#stack37{
  margin-top: 366px;
  margin-left: 8550px;
}

#stack38{
  margin-top: 366px;
  margin-left: 8600px;
}

#stack39{
  margin-top: 366px;
  margin-left: 8650px;
}

#stack40{
  margin-top: 366px;
  margin-left: 8700px;
}















@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}
