body{
  height: 99vh;
 width: 10000px;
 margin: 0 auto;

}

.play-area{
  position: absolute;
  width: 10000px;
  top: 0;
  height: 60%;
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: flex-start;
}

.menu-area{
  position: absolute;
  width: 10000px;
  bottom: 0;
  height: 40%;
  background-color: lightgray;
}
.player {
  margin-left: 200px;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: purple;
  position: fixed;
  top: 0;
  left: 0;
}

.block {
  height: 50px;
  width: 50px;
  border: 2px solid #007bff;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.triangle{
  margin: ;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-width: 0 25px 50px 25px;
  border-color: transparent transparent #007bff transparent;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.double {
  display: flex;
  justify-content: row;
}

.triple {
  display: flex;
  justify-content: row;
}

